.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/** game **/
ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.board {
  display: flex;
  flex-direction: row;
  margin: 40px;
}

/**** square styles ********/

.blocked {
  background: rgb(66, 112, 172);
}

.active {
  background: rgb(203, 240, 69);
}

.hovered {
  background: rgb(190, 185, 185);
}

.empty {
  background: #fff;
}

.disabled {
  background: rgb(216, 208, 208);
}

.info {
  background: rgb(159, 187, 221);
}

.square-normal-border {
  border: 1px solid #999;
}

.square-right-bold {
  border: 1px solid #999;
  border-right: 3px solid rgb(17, 17, 17)
}

.square-bottom-bold {
  border: 1px solid #999;
  border-bottom: 3px solid rgb(17, 17, 17)
}

.square-bottom-right-bold {
  border: 1px solid #999;
  border-bottom: 3px solid rgb(17, 17, 17);
  border-right: 3px solid rgb(17, 17, 17)
}

.shape-square {
  border: 1px solid #fff;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 19px;
  height: 25px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 25px;
}

.square {
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game-info {
  margin-left: 20px;
}